{:deps {io.cloudquery/plugin-pb-java {:mvn/version "0.0.9"}
        io.cloudquery.plugin.sdk/lib {:mvn/version "0.0.12"}
        org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.20.0"}}
 :aliases {:run-cq {:main-opts ["-m" "hello-cq.core"]}}
 :mvn/repos {"cloudquery-plugin-sdk-java" {:url "https://maven.pkg.github.com/cloudquery/plugin-sdk-java"}
             "cloudquery-plugin-pb-java" {:url "https://maven.pkg.github.com/cloudquery/plugin-pb-java"}}}
